* {
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(100px);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg) translateZ(100px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateY(270deg) translate(0%, -50%) rotateY(0deg) translateZ(0px);
  }
  100% {
    transform: rotateY(270deg) translate(0%, -50%) rotateY(360deg)
      translateZ(0px);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes flash {
  0%,
  100% {
    box-shadow: 0 0 3px 15px rgba(255, 100, 100, 0.3);
  }
  50% {
    box-shadow: 0 0 0px 0px rgba(255, 100, 100, 0);
  }
}
@keyframes glow {
  25% {
    box-shadow: 10px -5px 20px rgba(255, 100, 100, 0.9);
  }
  0%,
  100% {
    box-shadow: 0 -5px 20px rgba(255, 100, 100, 0.95);
  }
  50% {
    box-shadow: 0 -5px 20px rgba(255, 100, 100, 0.9);
  }
  75% {
    box-shadow: -10px -5px 20px rgba(255, 100, 100, 0.9);
  }
}
